<div class="row-fluid">
  <div class="sub-text-wrapper">
    <div class="sub-text">
      <h1>Contact Us</h1>
      <div class="sub-text-headline">
        If you have any questions about {{fullName}}, want to visit us or would like more information on how to get more involved, please do not hesitate to contact us - we would love to hear from you!
      </div>
      <h4>Email</h4>
      <p><a href="mailto:{{email}}">{{email}}</a></p>
      <p><a href="mailto:{{email2}}">{{email2}}</a></p>
      <hr/>
      <h4>Phone</h4>
      <p>{{phone}}</p>
      <hr/>
      <h4>Emergency Phone</h4>
      <p>{{phone2}}</p>
      <hr/>
      <h4>Church Office</p>
      <p>{{name}} {{address.street}} {{address.city}}, {{address.state}} {{address.zip}}-{{address.zip4}}</p>
      <hr/>
      <iframe width="600" height="450" frameborder="0" style="border:0"
        src="{{googleMapUrl}}" allowfullscreen></iframe>
    </div>
  </div>
</div>
